  <ion-content class="ion-padding">
    <h2>Integrantes</h2>
    <div class="scrolling-wrapper-flexbox">
      <ion-card class="card">
        <img class="card-img" alt="" src="../../assets/img/luan.jpeg" />
        <ion-card-header>
          <ion-card-title>Luan Souza</ion-card-title>
          <ion-card-subtitle>Espírito do mal</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="card">
        <img class="card-img" alt="" src="../../assets/img/thiago.jpeg" />
        <ion-card-header>
          <ion-card-title>Thiago Costa</ion-card-title>
          <ion-card-subtitle>Atirador do vasco</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="card">
        <img class="card-img" alt="" src="../../assets/img/ryan.jpeg" />
        <ion-card-header>
          <ion-card-title>Ryan Sandonato</ion-card-title>
          <ion-card-subtitle>Pedra de cachoeira</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="card">
        <img class="card-img" alt="" src="../../assets/img/matheus.jpeg" />
        <ion-card-header>
          <ion-card-title>Matheus Gomes</ion-card-title>
          <ion-card-subtitle>Principe da vj</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

    </div>



    </ion-content>